<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GitLab | {{ page.title }}</title>
    <style>
      p { page-brake-inside: avoid; }
      .print { display: inline; }
    </style>
  </head>  
  <body>
  <h1>{{ page.title }}</h1>

    {{ content }}
  </body>
</html>
