---
layout: default
title: Pricing
suppress_header: true
extra_css:
  - subscription.css
extra_js:
  - subscription.js
---

<div class="wrapper">
  <div class="pricing-container">
    <div class="pricing-overlay">
      <div class="pricing-content">
        <h1>GitLab Enterprise Edition on your Server</h1>
      </div>
      <div class="header-btn">
        <a class="free-trial" href="/free-trial">Free trial</a>
        <a class="contact-us" href="https://about.gitlab.com/sales/">Contact us</a>
      </div>
    </div>
  </div>

  <div class="subscriptions" id="subs">
    <div class="row">
      <div class="col-sm-4">
        <div class="basic subscription">
          <div class="header">
            Basic
            <div class="sub-header">
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>39
            <div class="subprice">
              yearly per user
              <br>
              purchased in packs of 10
              <br>
              $390 per pack
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                <a href="/features/#enterprise">GitLab Enterprise Edition</a>
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Next business day support
              </div>
            </div>
            <div class="detail-spacer"></div>

          </div>
          <a href="https://gitlab.recurly.com/subscribe/gitlab-basic-yearly-10" class="basic button" id="order-basic" onclick="ga('send', 'event', 'link', 'click', 'basic subscription');">Buy now</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="standard subscription">
          <div class="header">
            standard
            <div class="sub-header">
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>49
            <div class="subprice">
              yearly per user
              <br>
              purchased in packs of 100
              <br>
              $4,900 per pack
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                <a href="/features/#enterprise">GitLab Enterprise Edition</a>
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                All features from Basic
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                24/7 Emergency Support
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Support for <a href="https://about.gitlab.com/high-availability/">high availability</a>
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Live upgrade assistance
              </div>
            </div>
          </div>
          <a href="https://gitlab.recurly.com/subscribe/gitlab-standard-yearly-100" class="basic button" id="order-standard" onclick="ga('send', 'event', 'link', 'click', 'standard subscription');">Buy now</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="plus subscription">
          <div class="header">
            Plus
            <div class="sub-header">
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>149
            <div class="subprice">
              <br>
              purchased in packs of 100
              <br>
              $14,900 per pack
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                <a href="/features/#enterprise">GitLab Enterprise Edition</a>
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                All features from Standard
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                <a href="https://about.gitlab.com/training/">Git Training (4 workshops)</a>
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Feature request prioritization
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Dedicated Account Manager
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Dedicated Service Engineer
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Access to support Slack channel
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Onboarding help
              </div>
            </div>
          </div>
          <a href="https://gitlab.recurly.com/subscribe/gitlab-plus-yearly-100" class="basic button" id="order-plus" onclick="ga('send', 'event', 'link', 'click', 'plus subscription');">Buy now</a>
        </div>
      </div>
    </div>
    <p> &nbsp; </p>
  </div>

  <div class="subs-header">
    <div class="title">All plans include a 45 day money-back guarantee</div>
  </div>

  <div class="pricing-notes">
    <p>
      <a href="/features/#compare">Compare</a> the features of GitLab Community Edition and Enterprise Edition
    </p>

    <p>
      Compare GitLab to the <a href="/comparison">competition</a>
    </p>

    <p>
      <a href="https://about.gitlab.com/sales/" onclick="ga('send', 'event', 'link', 'click', 'contact sales');">Please contact us</a> if you have any questions.
    </p>

    <p>
      <a href="https://about.gitlab.com/high-availability/">Learn more</a> about high availability
    <p>
      <a href="/license-faq">Frequently asked questions</a> about subscriptions and licensing
    </p>

  </div>

  <hr class='divider'>

  <div class="container">
    <div class="row other-services" id="services">
      <div class="subs-header">
        <div class="title">
          Services
        </div>
        <div class="subtitle">
          Want us to help you with something else?
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <a href="/consultancy">
            <img src="/images/icons/cons_icon.png" id="consultancy" class="gs">
            <h2>Consultancy</h2>
            <p>Upgrade or install GitLab.</p>
            <a href="/consultancy/" class="btn btn-md btn-default">Contact us</a>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <a href="/development">
            <img src="/images/icons/dev_icon.png" id="development" class="gs">
            <h2>Development</h2>
            <p>Add a new feature to GitLab.</p>
            <a href="/development/" class="btn btn-md btn-default">Contact us</a>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <a href="/training">
            <img src="/images/icons/tra_icon.png" id="training" class="gs">
            <h2>Training</h2>
            <p>Git training workshop.</p>
            <a href="/training/" class="btn btn-md btn-default">Contact us</a>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="other-services">
  </div>


</div>
